{% extends "app.html" %}

{% block title %} Nosotros {% endblock %}


{% block content %}

<div class="container mt-2 imagenes-principales">
    <div class="row ">
        <div class="col-md-6 bg-naranja">
          <div class=" row text-center justify-content-center align-items-center text-light h-100">
            <div data-aos="fade-right" class="col-sm-8 contenido-superior  py-4  ">
            <h2>5 AÑOS SIENDO LIDEBERES EN EL MERCADO</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti tenetur, eos ipsum repellendus ducimus amet alias beatae esse deserunt aliquid officiis, quam debitis voluptas vero excepturi animi blanditiis perferendis omnis.
            </p>
          </div>
          </div>
          
        </div>
        <div data-aos="fade-left" class="col-md-6 imagen imagen-superior ">
           
        </div>
    </div>
    <div class="row ">
        <div data-aos="fade-right" class="col-md-6 imagen imagen-inferior order-md-1"></div>
        <div class="col-md-6 bg-rosado  order-md-2">
  <div class="row text-center justify-content-center align-items-center  h-100">
            <div data-aos="fade-left" class="col-sm-8 contenido-inferior py-4">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
          </div>
          </div>
        </div>
    </div>
  </div>
  <section class="nosotros container-fluid  p-5  bg-light">
    <h2 class="text-center mb-5 brand color-rosado">¿Por que adquirir nuestros productos?</h2>
    <div class="row ">
      <div class="col-md-4 text-center">
        <i class="fas fa-award color-naranja " style="font-size:10rem;"></i>
        <h3>Pastelería reconocida a nivel nacional</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nisi!
        </p>
      </div>
       <div class="col-md-4 text-center">
        <i class="fas fa-birthday-cake color-naranja" style="font-size:10rem;"></i>
        <h3>Tenemos los mejores postres para ti</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, corporis.
        </p>
      </div>
       <div class="col-md-4 text-center ">
        <i class="fas fa-truck color-naranja" style="font-size:10rem;"></i>
        <h3>Servicio a domicilio</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, animi!
        </p>
      </div>
    </div>
  </section>
 <div class="container">
    <div class="helados">
        <div class="container">
          <div class="row justify-content-center align-items-center  obten-helados">
      <div class="col-md-8">
        <div class="contenido text-center text-light">
          <h2>Mira nuestro catálogo de Productos!</h2>
          <p >Helados para todos lo gustos en todos los sabores </p>
          <a class="btn btn-lg" href="/productos">Ver Productos</a>
        </div>
      </div>
          </div>
          
        </div>
      </div>
    
 </div>

  

{% endblock %}