<footer class="bg-dark text-light">       
    <div class="container-fluid">
      <div class="row">
       <div class="offset-md-1 col-md-3 text-center my-2 ">
        <h3>Navegacion</h3>
        
        <li class="list-group-item ">
            <a class="nav-link" href="/"
              >Inicio <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/productos/">Productos <i class="fas fa-ice-cream"></i></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/nosotros/">Quienes somos <i class="fas fa-user-tie"></i></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/contacto/">Contacto <i class="fas fa-phone"></i></a>
          </li>
       </div>
       <div class="offset-md-1  col-md-6 text-center my-2 ">
        <h3>Contacto</h3>
        <address class="d-flex flex-column ">
            La herradura y Jardines de Granada<br />
            Quito<br />
            Ecuador<br />
            <div class="my-3">
                <i class="fa fa-phone fa-lg"></i>: +593 99 869 5861<br />
            </div>
            <div class="my-3">
                <i class="fa fa-fax fa-lg"></i>: +593 94 8765 43<br />
            </div>
            
            <div class="my-3">
                <i class="fa fa-envelope fa-lg"></i>:
            <a href="jeferson.narvaez@epn.edu.ec">Narvaez@Jeferson</a>
            </div>
            <div class="my-3">
                <i class="fa fa-envelope fa-lg"></i>:
            <a href="david.arciniega@epn.edu.ec">David@Arciniega</a>
            </div>
            
          </address>
       </div>
       
       
      </div>
    </div>
    <div class="footer-copyright text-center pb-5">© 2020 Copyright:
      <a href="https://github.com/2020-A-Python-GR1/py-narvaez-jeferson/tree/master/Proyecto%20Django"> Proyecto Django</a>
    </div>
   
  
  </footer>